// [-] Typography Styles [-] //

// -- Import Font -- //
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

// -- Heading -- //
h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h3,
h4 {
    color: $secondary;
}

h3,
h4,
h5,
h6 {
    font-weight: 700;
}

// -- Other -- //
p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

a {
    color: $link;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $primary;
    }
}
